body {
    display: block;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Stopwatch */
#stopwatch {
    min-width: 260px;
}

/* Heading */
#heading {
    min-width: 100%;
    text-align: center;
}

/* Stopwatch container */
.container {
    display: block;
    text-align: center;
}

/* For Stopwatch numbers */
.timer {
    font-size: 40px;
    padding: 15px;
}

/* Stopwatch buttons */
.container button {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: large;
    padding: 15px 16px;
    transition: transform 0.1s;
}

.container button:active {
    transform: scale(1.05);
}

/* Stop watch labels */
.timer_label {
    margin: -15px 0 15px 0px;
}
.timer_label span {
    display: inline-block;
    width: 60px;
    font-size: small;
    color: rgb(165, 163, 163);
}

/* Stopwatch Data List */
.stopwatch_list {
    display: block;
    width: max-content;
    height: calc(100vh - 290px);
    margin: 50px auto 0px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.stopwatch_list div {
    padding: 5px;
    font-size: 12px;
    color: grey;
}
